<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>User page</title>
</head>
<style>
    .light {
        height: 100%;
        background-color: rgb(255,255,255);
        color: rgb(0, 0, 0);
    }

    .dark {
        height: 100%;
        background-color: rgb(27, 27, 27);
        color: rgb(150, 150, 150);
    }

    .bodyContent {
        align-items: center;
        justify-content: center;
    }

    .title {
        text-align: center;
    }

    .mode {
        filter: invert(1) hue-rotate(180deg);
    }

    .top{ 
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
</style>


<body id="body" class="dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <a class="navbar-brand" href="#" onclick="welcomeUser()">Wall Hole</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a onclick="displayUserInfo()" class="nav-link">Your Info</a></li>
                <li class="nav-item"><a onclick="modifyUserInfo()" class="nav-link">Modify your Info</a></li>
                <li class="nav-item"><a onclick="resetPasswordForm()" class="nav-link">Reset Password</a></li>
                <li class="nav-item"><a onclick="giveFeedback()" class="nav-link">Feedbacks</a></li>
                <li class="nav-item">
                    <a href="../game" class="nav-link" style="color: rgb(255, 136, 0);">
                        Start Game
                        <i class="bi bi-joystick"></i>
                    </a>
                </li>
                <li class="nav-item"><a onclick="logout()" class="nav-link">Log-out</a></li>
                <li class="nav-item">
                    <a onclick="changemode()" class="nav-link"> 
                        <i class="bi bi-sun-fill" style="color: rgb(255, 136, 0)"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="bodyContent">
        <div id="welcome" class="title">
			<section class="p-3">
                <div class="container">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <img src="static/img/logo.png" alt="" class="d-block mx-auto h-100 w-50">
                        <div class="text-center text-sm-start">
                            <p class="h2">Welcome user to</p>
                            <p class="display-2"><b>
                                <span style="color: #F9A709;">Hole</span> in the <span style="color: #42E2FF;">Wall</span>
                            </b></p>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ducimus, numquam qui sequi beatae aliquam officiis harum in fugit officia autem! Ipsam aperiam deserunt, quae sit excepturi quia a error?</p>
                            <a href="../game" class="btn btn-warning text-light btn-lg">
                                Start Game
                                <i class="bi bi-joystick"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="update">
                <div class="container">
                    <p class="h2">What's new</p>
                    <div id="updates" class="">list here</div>
                </div>
            </section>
        </div>


        <div id="userInfo" style='display: none'>
			<h3 class="title">Your Info</h3>
            <section class="p-3">
                <div class="container">
                    <h2 class="title">Your Information</h2>
                        <div class="d-sm-flex align-items-center p-3" style="align-items: center;">
                            <div class="flex-shrink-0 text-center" id="userIcon">
                                <% if (typeof thisicon==="object" ){%>
                                    <img src="data:image/<%=thisicon.contentType%>;base64,
                                <%=thisicon.data.toString('base64')%>" width="250px">
                                    <%} else{%>
                                        <img src="static/img/walls/0.png" width="250px">
                                        <%}%>
                            </div>
                            <div class="flex-grow-1 p-3">
                                <h4>Username: <%=thisusername%>
                                </h4>
                                <h4>Email: <%=thisemail%>
                                </h4>
                                <div id="editOptions" class="">
                                    <a onclick="modifyUserInfo()" class="btn btn-primary btn-md">
                                        Update Info
                                    </a>
                                    <a onclick="resetPasswordForm()" class="btn btn-warning text-light btn-md">
                                        Reset Password
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
            </section>
        </div>

        <div id="modifyInfo" style='display: none'>
            <section class="p-3">
                <div class="container">
                    <h2 class="title">Modify your Information</h2>
                    <div>
                        <form id="modifyInfoForm">
                            <div class="form-group">
                                <label for="inputNewUsername">Username</label>
                                <input class="form-control" id="newUsername">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="inputNewEmail">Email address</label>
                                <input type="email" class="form-control" id="newEmail1">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="inputNewIcon">New Icon</label>
                                <br>
                                <input type="file" class="form-control-file" id="newIcon" onchange="uploadfile()">
                            </div>
                            <br>
                            <button class="btn btn-primary" type="button" onclick="updateInfo()">Update</button>
                        </form>
                    </div>																			
                </div>
            </section>
        </div>

        <div id="resetPassword" style='display: none'>
            <section class="p-3">
                <div class="container">
                    <h2 class="title">Reset Password</h2>
                    <div>
                        <form id="resetPasswordForm">
                            <div class="form-group">
                                <label for="inputOldPassword">Old password</label>
                                <input type="password" class="form-control" id="oldPassword">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="inputNewPassword">New password</label>
                                <input type="password" class="form-control" id="newPassword">
                                <small id="passwordHelp" class="form-text text-muted">Password should consist only character and
                                    digit with minimum length of 8.</small>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="inputNewPassword2">New password again</label>
                                <input type="password" class="form-control" id="newPassword2">
                                <small id="passwordHelp2" class="form-text text-muted">Must be the same as above</small>
                            </div>
                            <br>
                            <button class="btn btn-primary" type="button" onclick="updatePassword()">Update</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>

        <div id="giveFeedback" style='display: none'>
            <section class="p-3">
                <div class="container">
                    <div class="top dark" id="giveFeedbackFormDiv">
                        <h2 class="title">Feedbacks</h2>
                        <form id="giveFeedbackForm">
                            <div class="form-group">
                                <label for="inputFeedback">Leave your own feedback:</label>
                                <textarea class="form-control" id="feedback" rows="2"></textarea>
                            </div>
                            <br>
                            <button class="btn btn-primary" type="button" onclick="submiFeedback()">Submit</button>
                        </form>
                        <hr>
                    </div>
                    <div class="container">
                        <div class="d-sm-flex align-items-center p-3" style="align-items: center;">
                            <div class="flex-shrink-0 text-center" id="userIcon">
                                <img src="static/img/walls/0.png" width="250px">
                            </div>
                            <div class="flex-grow-1 p-3">
                                <h4>Username: 1234
                                </h4>
                                <h4>Feedback: UI can be better
                                </h4>
                            </div>
                        </div>
                        <div class="d-sm-flex align-items-center p-3" style="align-items: center;">
                            <div class="flex-shrink-0 text-center" id="userIcon">
                                <img src="static/img/walls/0.png" width="250px">
                            </div>
                            <div class="flex-grow-1 p-3">
                                <h4>Username: 1234
                                </h4>
                                <h4>Feedback: UI can be better
                                </h4>
                            </div>
                        </div>
                        <div class="d-sm-flex align-items-center p-3" style="align-items: center;">
                            <div class="flex-shrink-0 text-center" id="userIcon">
                                <img src="static/img/walls/0.png" width="250px">
                            </div>
                            <div class="flex-grow-1 p-3">
                                <h4>Username: 1234
                                </h4>
                                <h4>Feedback: UI can be better
                                </h4>
                            </div>
                        </div>
                        <div class="d-sm-flex align-items-center p-3" style="align-items: center;">
                            <div class="flex-shrink-0 text-center" id="userIcon">
                                <img src="static/img/walls/0.png" width="250px">
                            </div>
                            <div class="flex-grow-1 p-3">
                                <h4>Username: 1234
                                </h4>
                                <h4>Feedback: UI can be better
                                </h4>
                            </div>
                        </div>
                        <div class="d-sm-flex align-items-center p-3" style="align-items: center;">
                            <div class="flex-shrink-0 text-center" id="userIcon">
                                <img src="static/img/walls/0.png" width="250px">
                            </div>
                            <div class="flex-grow-1 p-3">
                                <h4>Username: 1234
                                </h4>
                                <h4>Feedback: UI can be better
                                </h4>
                            </div>
                        </div>
                        <div class="d-sm-flex align-items-center p-3" style="align-items: center;">
                            <div class="flex-shrink-0 text-center" id="userIcon">
                                <img src="static/img/walls/0.png" width="250px">
                            </div>
                            <div class="flex-grow-1 p-3">
                                <h4>Username: 1234
                                </h4>
                                <h4>Feedback: UI can be better
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>


<script>
    const emailre = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;
    const passwordre = /^(?![0-9]+$)(?![a-zA-Z]+$)[A-Za-z0-9]{8,}$/;
    var oldUsername = JSON.parse('<%-JSON.stringify(thisusername)%>');
    var oldEmail = JSON.parse('<%-JSON.stringify(thisemail)%>');
    async function updateInfo() {
        var newUsername = document.getElementById('newUsername').value;
        var newEmail1 = document.getElementById('newEmail1').value;
        var newIcon = document.getElementById('newIcon').value;
        if (newUsername == '' && newEmail1 == '' && newIcon == '') {
            alert("One of the box must be filled");
            return;
        }
        if (newEmail1 != '' && emailre.test(newEmail1) === false) {
            document.getElementById('newEmail1').classList.add("is-invalid");
            alert("Invalid email");
            return
        } else if (newEmail1 == oldEmail) {
            document.getElementById('newEmail1').classList.add("is-invalid");
            alert("New email must be different from the old one.");
            return
        } else {
            document.getElementById('newEmail1').classList.remove("is-invalid");
        }
        if (newUsername == oldUsername) {
            document.getElementById('newUsername').classList.add("is-invalid");
            alert("New username must be different from the old one.");
            return
        } else {
            document.getElementById('newUsername').classList.remove("is-invalid");
        }
        // upload data
        let formData = new FormData();
        let file = '';
        if (document.querySelector('#newIcon').value !== null || document.querySelector('#newIcon').value !== '') {
            file = document.querySelector('#newIcon').files[0];
        }
        formData.append('photo', file);
        formData.append('oldusername', oldUsername);
        formData.append('newusername', newUsername);
        formData.append('newemail', newEmail1);
        let request = new Request('/upload', {
            method: 'post',
            body: formData
        });
        let response = await fetch(request);
        let result;
        if (response.status !== 200) {
            throw new Error(response.status);
        }
        else {
            result = await response.text();
        }
        if (result === "duplicated") {
            alert('the username is duplicated, you need a unique username');
            document.getElementById('newUsername').value = '';
        }
        else {
            alert('done! you will need to login again to see the effect!');
            window.location.reload();
        }

    }
    async function updatePassword() {
        var oldPassword = document.getElementById('oldPassword').value;
        var newPassword = document.getElementById('newPassword').value;
        var newPassword2 = document.getElementById('newPassword2').value;
        if (oldPassword == '') {
            alert("All of the box must be filled");
            document.getElementById('oldPassword').classList.add("is-invalid");
            return;
        } else if (passwordre.test(oldPassword) === false) {
            alert("Incorrect password");
            document.getElementById('oldPassword').classList.add("is-invalid");
            return;
        } else {
            document.getElementById('oldPassword').classList.remove("is-invalid");
        }
        if (newPassword == '') {
            alert("All of the box must be filled");
            document.getElementById('newPassword').classList.add("is-invalid");
            return;
        } else if (passwordre.test(newPassword) === false) {
            alert("Incorrect new password");
            document.getElementById('newPassword').classList.add("is-invalid");
            return;
        } else if (newPassword == oldPassword) {
            alert("A new password must be inputted");
            document.getElementById('newPassword').classList.add("is-invalid");
            return;
        } else {
            document.getElementById('newPassword').classList.remove("is-invalid");
        }
        if (newPassword2 == '') {
            alert("All of the box must be filled");
            document.getElementById('newPassword2').classList.add("is-invalid");
            return;
        } else if (newPassword2 != newPassword) {
            alert("Incorrect new password");
            document.getElementById('newPassword2').classList.add("is-invalid");
            return;
        } else {
            document.getElementById('newPassword2').classList.remove("is-invalid");
        }
        let request = new Request('/changepassword', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json;charset=utf-8;'
            },
            body: JSON.stringify({
                username: oldUsername,
                password: newPassword
            })
        });
        let response = await fetch(request);
        if (response.status !== 200) {
            throw new Error(response.status);
        }
        else {
            alert("You have changed the new password, please use the new password to login again!");
        }
        window.location.reload();
    }

    function submiFeedback() {
        var feedback = document.getElementById('feedback').value;
        if (feedback == '') {
            alert("The feedback box cannot be empty");
            return;
        }
        // upload data
        document.getElementById('giveFeedbackForm').reset();
    }

    function welcomeUser() {
        document.getElementById('welcome').style.display = '';
        document.getElementById('userInfo').style.display = 'none';
        document.getElementById('modifyInfo').style.display = 'none';
        document.getElementById('resetPassword').style.display = 'none';
        document.getElementById('giveFeedback').style.display = 'none';
        document.cookie = "section=welcome";
    }
	
    function displayUserInfo() {
        document.getElementById('welcome').style.display = 'none';
        document.getElementById('userInfo').style.display = '';
        document.getElementById('modifyInfo').style.display = 'none';
        document.getElementById('resetPassword').style.display = 'none';
        document.getElementById('giveFeedback').style.display = 'none';
        document.cookie = "section=userInfo";
    }
	
    function modifyUserInfo() {
        document.getElementById('welcome').style.display = 'none';
        document.getElementById('userInfo').style.display = 'none';
        document.getElementById('modifyInfo').style.display = '';
        document.getElementById('resetPassword').style.display = 'none';
        document.getElementById('giveFeedback').style.display = 'none';
        document.cookie = "section=modifyInfo";
    }
	
    function resetPasswordForm() {
        document.getElementById('welcome').style.display = 'none';
        document.getElementById('userInfo').style.display = 'none';
        document.getElementById('modifyInfo').style.display = 'none';
        document.getElementById('resetPassword').style.display = '';
        document.getElementById('giveFeedback').style.display = 'none';
        document.cookie = "section=resetPassword";
    }
	
    function giveFeedback() {
        document.getElementById('welcome').style.display = 'none';
        document.getElementById('userInfo').style.display = 'none';
        document.getElementById('modifyInfo').style.display = 'none';
        document.getElementById('resetPassword').style.display = 'none';
        document.getElementById('giveFeedback').style.display = '';
        document.cookie = "section=giveFeedback";
    }
	
    function changemode() {
        if (document.querySelector('#body').classList.contains("light")) {
            document.querySelector('#body').classList.replace("light", "dark");
            document.querySelector('#giveFeedbackFormDiv').classList.replace("light", "dark");
            document.cookie = "mode=; expires=Thu, 01 Jan 2030 00:00:00 GMT";
            document.cookie = " mode=dark";
        } else {
            document.querySelector('#body').classList.replace("dark", "light");
            document.querySelector('#giveFeedbackFormDiv').classList.replace("dark", "light");
            document.cookie = "mode=; expires=Thu, 01 Jan 2030 00:00:00 GMT";
            document.cookie = " mode=light";
        }
    }
	
    function checkmode() {
        var buf = document.cookie.split(';');
        for (var i = 0; i < buf.length; i++) {
            var part = buf[i].split('=');
            if (part[0] == 'mode' || part[0] == ' mode') {
                if (part.length > 1) {
                    if (part[1] == 'dark') {
                        document.querySelector('#body').classList.replace("light", "dark");
                        document.querySelector('#giveFeedbackFormDiv').classList.replace("light", "dark");
                    } else {
                        document.querySelector('#body').classList.replace("dark", "light");
                        document.querySelector('#giveFeedbackFormDiv').classList.replace("dark", "light");
                    }
                }
                return;
            }
        }
        document.querySelector('#body').classList.replace("dark", "light");
    }
	
    function logout() {
        let request = new Request('/logout', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json;charset=utf-8;'
            }
        });
        fetch(request);
        window.location.reload();
    }

    async function uploadfile() {
        const picre = /^image/;
        let pic = document.querySelector('#newIcon');
        pic.onchange = function () {
            let file = pic.files[0];
            console.log(file.type);
            if (!picre.test(file.type)) {
                alert("You should upload a pic but not other types of file!");
                pic.value = null;
                return;
            }
            preview(file);
            return;
        }
    }

    function preview(file) {
        if (file) {
            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = (e) => {
                let preview = document.querySelector('#iconpreview');
                preview.src = e.target.result;
                preview.style.width = 400 + 'px';
                preview.style.height = 400 + 'px';
            }
        }

    }

    function checkSection() {
        var buf = document.cookie.split(';');
        for (var i = 0; i < buf.length; i++) {
            var part = buf[i].split('=');
            if (part[0] == 'section' || part[0] == ' section') {
                document.getElementById('welcome').style.display = 'none';
                document.getElementById(part[1]).style.display = '';
                return;
            }
        }
    }

    function startup() {
        checkSection();
        checkmode();
    }

    window.onload = startup();
</script>

</html>